* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: sans-serif;
}

.css-1oitmrd-MuiButtonBase-root-MuiCardActionArea-root {
  width: 50vh;
}

#description_product img {
  width: 40%;
  height: max-content;
}

.css-i5q2k0 img:hover {
  box-shadow: none;
}

.css-i5q2k0 img {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  cursor: pointer;
}