* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: sans-serif;
}

.css-1oitmrd-MuiButtonBase-root-MuiCardActionArea-root {
  width: 50vh;
}

#description_product img {
  width: 40%;
  height: max-content;
}